<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/layout.css">
    <link rel="stylesheet" href="/style/modules.css">
    <link rel="stylesheet" href="/public/style/reset.css">

    <title>Document</title>
</head>

<body>
    <header>
        <h1>Details</h1>
    </header>

    <main>
        <section>
            <div>
                <img src="<%= detail.image_url %>">
                <p>
                    <%= detail.title %>
                </p>
                <p>
                    <%= detail.author %>
                </p>
                <p>
                    <%= detail.description %>
                </p>
                <p>
                    <%= detail.isbn %>
                </p>
            </div>

            <form action="/delete/<%=detail.id%>?_method=delete" method="post">
                <button>Delete Book</button>
            </form>
            <button id='updateBtn'>Update Details</button>

        <section id='updateForm'>
            <form action="/updateBook/<%=detail.id%>?_method=put" method="post">
                <input type="text" name="title" placeholder="Populated title" value=' <%= detail.title  %> '> <br>
                
                <input type="text" name="author" placeholder="Populated author" value="<%= detail.author  %>"> <br>
                
                <input type="text" name="image_url" placeholder="Populated image url" value="<%= detail.image_url %>">  <br>
               
                <input type="text" name="isbn" placeholder="Populated ISBN" value="<%= detail.isbn  %>"> <br>
                
                <textarea name="description" placeholder="Populated description" cols="30" 
                    rows="10"><%= detail.description %></textarea> <br>
                
                <button type="submit">Update Book</button>
            </form>
        </section>
    </section>

    </main>

    <footer></footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/app.js"></script>
    
</body>
</html>