<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/layout.css">
    <link rel="stylesheet" href="/style/modules.css">
    <link rel="stylesheet" href="/public/style/reset.css">
    <title>Document</title>
</head>

<body>
    <h1>list of Books</h1>
    <% renderBookData.forEach(item=> {%>
        <div>
            <img src="<%= item.imgUrl %>">
            <p>
                <%= item.title%>
            </p>
            <p>
                <%= item.authors%>
            </p>
            <p>
                <%= item.description%>
            </p>
            <form action="/books" method="POST">
                <input type="hidden" name="title" value="<%= item.title %>">
                <input type="hidden" name="author" value="<%= item.author %>">
                <input type="hidden" name="description" value="<%= item.description %>">
                <input type="hidden" name="isbn" value="<%= item.isbn %>">
                <input type="hidden" name="image_url" value="<%= item.imgUrl%>">
                <button>Add To My books</button>
            </form>
        </div>
        <% }) %>
            </div>


</body>

</html>